body {
    text-align: center;
}

#Board {
    text-align: left;
    width: 660px;
    height: 667px;
    display: block;
    background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    margin: auto;
    position: relative;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align:center;
    position: absolute;
}

.red {
    background-color: orangered;
}

.blue {
    background-color: dodgerblue;
}

.smoke {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    text-align:center;
    background-color: darkorange;
}
